<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.supermarket.mapper.GoodsMapper">
    <resultMap id="GoodsMap" type="GoodsVO">
        <id column="storeapply_id" property="storeapplyId"></id>
        <result column="goods_count" property="goodsCount"></result>
        <result column="emp_age" property="empAge"></result>
        <result column="goods_unit" property="goodsUnit"></result>
        <result column="goods_number" property="goodsNumber"></result>
        <result column="goodsfrom_date" property="goodsfromDate"></result>
        <result column="goods_state" property="goodsState"></result>
        <association property="cargo" column="goods_id" select="getCargo"></association>
        <association property="user" column="goods_userid" select="getUser"></association>
    </resultMap>


    <select id="getGoods" resultMap="GoodsMap">
        select * from goods

        <where>
            isdelete=0
            <if test="goodsState!=null and goodsState!=0 ">
                and goods_state=#{goodsState}
            </if>





        </where>
    </select>
    <select id="getCargo" resultType="Cargo">
        select  * from cargo where cargo_id=#{goodsId}
    </select>
    <select id="getUser" resultType="User">
        select  * from user where user_id=#{userId}
    </select>
    <update id="deleteGoodsBatch">
        update goods set isdelete=1
        <where>
            storeapply_id in
            <foreach collection="storeapplyIds" item="storeapplyId" open="(" close=")" separator=",">
                #{storeapplyId}
            </foreach>
        </where>
    </update>

    <select id="getGoodsById" resultMap="GoodsMap">
        select  * from goods where storeapply_id=#{storeapplyId}
    </select>


</mapper>
